{% extends "base.html" %}
{% load staticfiles %}
{% load promotion_tags %}
{% block styles %}
    {% comment %}
        If you are developing Oscar's CSS, or overriding Oscar's CSS
        files in your project, then set OSCAR_USE_LESS = True in your
        settings file. This will enable the on-the-fly less compiler.
    {% endcomment %}
    {% if use_less %}
        <link rel="stylesheet/less" type="text/css" href="{% static 'oscar/less/styles.less' %}" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'oscar/css/styles.css' %}" />
    {% endif %}
        <link rel="stylesheet" type="text/css" href="{% static '/font-awesome-4.7.0/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'oscar/css/datetimepicker.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />

    
    <link rel="stylesheet" type="text/css" href="{% static 'css/CalendarPicker.css' %}" />

{% endblock %}
{% block layout %}
    {# Top-horizontal bar with account, notifictions, dashboard links #}
    {% include "partials/nav_accounts.html" %}
    {# Site logo/title, mini-basket, browse dropdown and searchbox #}
	
    <header class="header ">
        <div class="page_inner container-fluid">
            <div class="row">
                <div class="col-sm-4">{% include "partials/brand.html" %}</div>
                <div class="col-sm-4">{% include "partials/search.html" %}</div>
                <div class="col-sm-4">
                {# Mini-basket wrapped in a block so some templates can now display it #}
                {% block mini_basket %}{% include "partials/mini_basket.html" %}{% endblock %}</div>
            </div>
        </div>
        {% block navigation %}
            {% include "partials/nav_primary.html" %}
        {% endblock %}
    </header>
    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
        <div class="page">  
            <div class="page_inner no-padding">
                {% block breadcrumbs %}{% endblock %}
                {% block header %}
                    <div class="page-header action">
                        <h1>{% block headertext %}{% endblock %}</h1>
                    </div>
                {% endblock %}
                {% include "partials/alert_messages.html" %}
                {% block subnavigation %}{% endblock %}
                <div class="content">
                    {% block subheader %}{% endblock subheader %}
                    {# Render promotions #}
                    <div id="promotions">
                        {% for promotion in promotions_page %}
                            {% render_promotion promotion %}
                        {% endfor %}
                    </div>
                    {# Div exists for AJAX updates to entire content section #}
                    <div id="content_inner">{% block content %}{% endblock %}</div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% include "partials/footer.html" %}
{% endblock %}
{% block cdn_scripts %}
  {{ block.super }}
  {% if use_less and debug %}
    {# Load the on-the-fly less compiler. Never do this in production. #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
  {% endif %}
{% endblock %}
{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    <!-- Twitter Bootstrap -->
    <script src="{% static 'oscar/js/bootstrap3/bootstrap.min.js' %}"></script>
    <!-- Oscar -->
    <script src="{% static 'oscar/js/oscar/ui.js' %}"></script>
    <script src="{% static 'oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js' %}"></script>
    <script src="{% static 'customjs/CalendarPicker.js'%}"></script>
{% endblock %}
{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}
{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}
