{% load i18n %}

<div class="navbar navbar-static-top nav-checkout">
    <ul class="nav">
        {% spaceless %}
            <li class="step1 {% if step == 1 %}active{% else %}{% if step == 2 %}previous{% else %}{% if step > 1 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %} ">
                {% if step == 2 or step == 3 or step == 4 %}
                    <a href="{% url 'checkout:shipping-address' %}">
                        <span class="visible-inline-sm icon-chevron-right"></span>
                        <span>
                           <i class="fa fa-home"></i> {% trans "Shipping address" %}
                        </span>
                    </a>
                {% else %}
                    <span class="navbar-text">
                       <i class="fa fa-home"></i>  {%  trans "Shipping address" %}
                    </span>
                {% endif %}
            </li>

            <li class="step2 {% if step == 2 %}active{% else %}{% if step == 3 %}previous{% else %}{% if step > 2 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %} ">
                {% if step == 3 or step == 4 %}
                    <a href="{% url 'checkout:shipping-method' %}">
                        <span class="visible-inline-sm icon-chevron-right"></span>
                        <span>
                            <i class="fa fa-truck fa-flip-horizontal"></i> {% trans "Shipping method" %}
                        </span>
                    </a>
                {% else %}
                    <span class="navbar-text">
                       <i class="fa fa-truck fa-flip-horizontal"></i>  {%  trans "Shipping method" %}
                    </span>
                {% endif %}
            </li>

            <li class="step3 {% if step == 3 %}active{% else %}{% if step == 4 %}previous{% else %}{% if step > 3 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %} ">
                {% if step == 4 %}
                    <a href="{% url 'checkout:payment-details' %}">
                        <span class="visible-inline-sm icon-chevron-right"></span>
                        <span>
                           <i class="fa fa-money"></i> {% trans "Payment" %}
                        </span>
                    </a>
                {% else %}
                    <span class="navbar-text">
                       <i class="fa fa-money"></i> {%  trans "Payment" %}
                    </span>
                {% endif %}
            </li>

            <li class="step4 {% if step == 4 %}active{% else %}disabled{% endif %} ">
                <span class="navbar-text">
					<i class="fa fa-eye"></i> {% trans "Preview" %}
                </span>
            </li>

            <li class="step5 {% if step == 5 %}active{% else %}disabled{% endif %} ">
                <span class="navbar-text">
                    <i class="fa fa-check"></i> {% trans "Confirmation" %}
                </span>
            </li>
        {% endspaceless %}
    </ul><!-- /navbar-inner -->
</div><!-- /navbar -->
