{% extends 'layout.html'%}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">UserName</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Time</th>
                <th scope="col">Payment Status</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for b in b_a%}
              <tr>
                <th scope="row">{{b.id}}</th>
                <td>{{b.patient}}</td>
                <td>{{b.first_name}}</td>
                <td>{{b.last_name}}</td>
                <td>{{b.get_timing_display}}</td>
                <td>{{b.payment_status}}</td>
                
                <!-- <td><a href="{% url 'view_rented_item' b.pk%}" class="btn btn-sm btn-success">View</a></td> -->
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>

{% endblock content%}