{% extends 'layout.html'%}
{% load crispy_forms_tags %}

{% block content%}

<div class="container">
    <div class="jumbotron">
        <form action="" method="POST">
            {% csrf_token%}
            {{form|crispy}}
            <button class="btn btn-success" type="submit">Save</button>
        </form>
    </div>
</div>

{% endblock %}