{% extends "layout.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="container">
    <form action="" method="POST" id="form3">
        {% csrf_token %}
        <div class="custom_input_div" id="custom_container">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="id_select_date">Select Date</label>
                    <input type="date" class="form-control" id="id_select_date" name="select_date"
                        value="{{select_date}}">
                </div>

            </div>
            <div class="row">

                <div class="form-group col-md-4">
                    <label for="id_start_time">Start Time</label>
                    <input type="time" name="start_time" value="{{start_time}}" id="start_time_id"
                        class="form-control start_time" placeholder="Select time">
                </div>

                <div class="form-group col-md-4">
                    <label for="id_start_time">End Time</label>
                    <input type="time" name="end_time" value="{{end_time}}" id="end_time_id"
                        class="form-control end_time" placeholder="Select time">
                </div>

                <div class="form-group col-md-4 ">
                    <label for="id_slot_duration">Slot Duration</label>
                    <select class="form-control" name="slot_duration" id="slot_duration_id">
                        {% for slot in slots %}
                        <option value="{{slot.pk}}">{{slot}}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit" id="save_custom">Save</button>

        </div>
    </form>
    <div align="right">
        <button class="btn btn-success add_more_custom" type="button">+</button>

    </div>
</div>

<script>
    $(document).ready(function(){
        $(".add_more_custom").on("click", function(){
            var html = '<div class="custom_input_div" id="custom_container"> <div class="row"> <div class="form-group col-md-4">  <label for="id_select_date">Select Date</label>  <input type="date" class="form-control" id="id_select_date" name="select_date"  value="{{select_date}}"> </div> </div>';
                html += '<div class="row"> <div class="form-group col-md-4"> <label for="id_start_time">Start Time</label> <input type="time" name="start_time" value="{{start_time}}" id="start_time_id"  class="form-control start_time" placeholder="Select time"> </div> ';
                html += '<div class="form-group col-md-4"> <label for="id_start_time">End Time</label>  <input type="time" name="end_time" value="{{end_time}}" id="end_time_id"  class="form-control end_time" placeholder="Select time"> </div>';
                html += '  <div class="form-group col-md-4 "> <label for="id_slot_duration">Slot Duration</label> <select class="form-control" name="slot_duration" id="slot_duration_id">  {% for slot in slots %} <option value="{{slot.pk}}">{{slot}}</option>  {% endfor %}  </select> </div> </div>';
                html += '<span><button class="btn btn-danger btn-xs remove_custom">X</button></span></div>';

                $('#custom_container').append(html);
        });
        $('#custom_container').on('click', '.remove_custom', function (e) {
            e.preventDefault();
            $(this).closest('.custom_input_div  ').remove()
        });

    });
</script>

<script>
    $(document).on("click","#save_custom",function(){
        var form = document.getElementById('form3')
        $.ajax({
            url : '/custom-settng',
            method :"POST",
            data = new FormData(form),
            success:function(data){
                console.log(success)
            }
        })
    });
</script>

{% endblock content %}