{% extends "layout.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<div class="container-fluid border border-success rounded p-4 m-4 mx-auto">
    <div class="row" style="margin-left: 28%;">
        <div class="col-xs-12 col-md-8 ">
            <label for="id_doctor">Doctor Name</label>
            <select class="form-control" name="doctor" id="id_doctor">
                {% for u in user %}
                <option value="{{u.pk}}">{{u}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col offset-md-4">
            <form action="" method="POST" id="form1">
                {% csrf_token%}
                <div class="timing_input_div" id="qualification_container">
                    <div class="form-group col-md-3">
                        <label for="id_day">Day</label>
                        <select name="day" id="id_day" class="form-control day">
                            {%for mykey,myvalue in schedules %}
                            <option value="{{mykey}}">{{myvalue}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="id_start_time">Start Time</label>
                        <input type="time" name="start_time" value="{{data.start_time}}" id="id_start_time"
                            class="form-control start_time" placeholder="Select time">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="id_end_time">End Time</label>
                        <input type="time" name="end_time" value="{{data.end_time}}" id="id_end_time"
                            class="form-control end_time" placeholder="Select time">
                    </div>
                    <div class="form-group col-md-3 ">
                        <label for="id_slot_duration">Slot Duration</label>
                        <select class="form-control" name="slot_duration" id="id_slot_duration">
                            {% for slot in slots %}
                            <option value="{{slot.pk}}">{{slot}}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit" id="save">Save</button>

                </div>
            </form>
            <div align="right">
                <button class="btn btn-success btn-xs add_more_timing " title="Add More" type="button">+</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.add_more_timing').on("click", function () {
            var html = '<div class="timing_input_div "> <div class="form-group col-md-3"> <label for="id_day">Day</label> <select name="day" id="id_day" class="form-control"> {%for mykey,myvalue in schedules %}  <option value="{{mykey}}">{{myvalue}}</option>   {%endfor%}  </select> </div>';
            html += ' <div class="form-group col-md-3"> <label for="id_start_time">Start Time</label>  <input type="time" name="start_time" value="{{data.start_time}}" id="id_start_time"  class="form-control" placeholder="Select time"> </div>';
            html += '<div class="form-group col-md-3"> <label for="id_end_time">End Time</label>  <input type="time" name="end_time" value="{{data.end_time}}" id="id_end_time" class="form-control"  placeholder="Select time"> </div>';
            html += '  <div class="form-group col-md-3 "> <label for="id_slot_duration">Slot Duration</label> <select class="form-control" name="slot_duration" id="id_slot_duration">  {% for slot in slots %} <option value="{{slot.pk}}">{{slot}}</option>  {% endfor %}  </select> </div>';
            html += '<div align="right"><button class="btn btn-danger btn-xs remove_timing">X</button></div></div> </div>'
            $("#qualification_container").append(html);
        });

        $('#qualification_container').on('click', '.remove_timing', function (e) {
            e.preventDefault();
            $(this).closest('.timing_input_div  ').remove()
        });
    });

</script>
<script>
      $(document).on("click","#save",function(){
    //     var day = [];
    //     var start_time = [];
    //     var end_time = [];

    //     $('.day').each(function(){
    //         day.push($(this).text());
    //     });
    //    $('.start_time').each(function(){
    //        start_time.push($(this).text());
    //    });
    //    $('.end_time').each(function(){
    //        end_time.push($(this).text());
    //    });
       var form = document.getElementById('form1')
       $.ajax({
           url:'/general_setting',
           method:'POST',
           data : new FormData(form),
           success:function(data){
                console.log(success)
           },
           
       });

    })
</script>



{% endblock %}