{% extends "layout.html" %}

{% block content%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<div class="row">
    <div class="bootstrap-iso">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">

                    <!-- Form code begins -->
                    <form method="POST" id="form2">
                        {% csrf_token%}
                        <div class="holiday_input_div" id="holiday_container">
                            <div class="form-group">
                                <!-- Date input -->
                                <label class="control-label" for="date">Date</label>
                                <input class="form-control" id="date_of_holiday" value="{{data.date_of_holiday}}"
                                    name="date_of_holiday" placeholder="YYY-MM-DD" type="date" />
                            </div>
                            <div class="form-group">
                                <!-- Date input -->
                                <label class="control-label" for="date">Occasssion</label>
                                <input class="form-control" id="occassion" value="{{data.occassion}}" name="occassion"
                                    placeholder="Enter the Occassion" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Submit button -->
                            <button class="btn btn-primary " name="submit" type="submit" id="save">Submit</button>
                        </div>
                    </form>
                    <!-- Form code ends -->
                    <div align="right">
                        <button class="btn btn-success btn-xs add_more_holiday " title="Add More"
                            type="button">+</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function(){
        $(".add_more_holiday").on("click", function(){
            var html = '<div class="holiday_input_div" id="holiday_container"> <div class="form-group">  <!-- Date input -->  <label class="control-label" for="date">Date</label> <input class="form-control" id="date_of_holiday" value="{{data.date_of_holiday}}"  name="date_of_holiday" placeholder="YYY-MM-DD" type="date" />  </div>';
                html += ' <div class="form-group"> <!-- Date input -->  <label class="control-label" for="date">Occassion</label>  <input class="form-control" id="occassion" value="{{data.occassion}}" name="occassion"    placeholder="Enter the Occassion" type="text" />  </div>';
                html += '<span><button class="btn btn-danger btn-xs remove_holiday">X</button></span></div>';

                $("#holiday_container").append(html);
        });
        $('#holiday_container').on('click', '.remove_holiday', function (e) {
            e.preventDefault();
            $(this).closest('.holiday_input_div  ').remove()
        });
    });
</script>

<script>
    $(document).on("click","#save",function(){
      var form = document.getElementById('form2')
       $.ajax({
           url:'/holiday_setting',
           method:'POST',
           data : new FormData(form),
           success:function(data){
                console.log(success)
           },
           
       });
    });
</script>

{%endblock %}