{% extends "layout.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

{% image self.blog_image fill-1200x400 as banner %}
    <img src="{{banner.url}}" alt="{{banner.alt}}" style="width:100%;height:auto;">
    <div class="container text-center mt-50">
    <h1 class="mainTitle text-center">{{ page.title }}</h1>
    <p class="meta prodcut-Cat">{{ page.date }}</p>

    <div class="intro lead">{{ page.intro }}</div>

    {{ page.body|richtext }}

    <p class="text-center"><a href="{{ page.get_parent.url }}" class="cardBtn">Return to blog</a></p>
</div>
{% endblock %}