{% extends "layout.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}  

{% block content %}
   <div class="container">
    <h1 class="mainTitle text-center">{{ page.title }}</h1>

    <div class="intro lead text-center">{{ page.intro|richtext }}</div>
    {% for post in blogpages %}
    <div class="col-md-3 col-sm-6">
    <div class="productBox">
    {% image post.blog_image fill-250x250 as blog_img %}
        <a href="{{post.url}}">
            <img src="{{blog_img.url}}" alt="{{blog_img.alt}}">
        </a>
    
    <div class="datacontent">
    <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
    {{ post.specific.intro }}
    </div>
    </div>
        
    </div>
    {% endfor %}
    </div>

{% endblock content %}