{% extends "layout.html" %}
{% load static %}
{% load i18n %}
{% load wagtailimages_tags wagtailroutablepage_tags wagtailcore_tags %}

{% block navigation %}
    {% include "partials/nav_primary.html" with expand_dropdown=0 %}
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}


<div class="home-page">

<!---- Slider Start--->
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
    <li data-target="#bs-carousel" data-slide-to="3"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <!-- for loop for carousel image -->
    
    <div class="item slides active">
      
      {% for i in self.carousel_images.all %}
      {% image i.carousel_image fill-1200x400 as img%}
      <div class="slide-1" style="background-image: url('{{img.url}}');"></div>
      {% endfor %}
      
      <div class="hero">
        <hgroup>
            <h1>AirFit N30i Mask with Headgear</h1>        
            <h3>The ResMed AirFit N30i Mask with Headgear provides comfort and simplicity in a new lightweight design. Designed with comfort in mind, the SpringFit frame ensures a personalized fit and the top-of-the-head tube attachment allows freedom of movement during sleep.</h3>
        </hgroup>
		<a class="testfree" href="#">
			Test Registraion
		</a>
		<a class="testassement" href="#">
			Free Assesment
		</a>
      </div>
    </div>
    <!-- end forloop -->
     <!-- <div class="item slides">
      <div class="slide-2"></div>
       <div class="hero">
        <hgroup>
            <h1>AirFit N30i Mask with Headgear</h1>        
            <h3>The ResMed AirFit N30i Mask with Headgear provides comfort and simplicity in a new lightweight design. Designed with comfort in mind, the SpringFit frame ensures a personalized fit and the top-of-the-head tube attachment allows freedom of movement during sleep.</h3>
        </hgroup>
		<a class="testfree" href="#">
			Test Registraion
		</a>
		<a class="testassement" href="#">
			Free Assesment
		</a>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
       <div class="hero">
        <hgroup>
            <h1>AirFit N30i Mask with Headgear</h1>        
            <h3>The ResMed AirFit N30i Mask with Headgear provides comfort and simplicity in a new lightweight design. Designed with comfort in mind, the SpringFit frame ensures a personalized fit and the top-of-the-head tube attachment allows freedom of movement during sleep.</h3>
        </hgroup>
		<a class="testfree" href="#">
			Test Registraion
		</a>
		<a class="testassement" href="#">
			Free Assesment
		</a>
      </div>
    </div>
	<div class="item slides">
      <div class="slide-4"></div>
       <div class="hero">
        <hgroup>
            <h1>AirFit N30i Mask with Headgear</h1>        
            <h3>The ResMed AirFit N30i Mask with Headgear provides comfort and simplicity in a new lightweight design. Designed with comfort in mind, the SpringFit frame ensures a personalized fit and the top-of-the-head tube attachment allows freedom of movement during sleep.</h3>
        </hgroup>
		<a class="testfree" href="#">
			Test Registraion
		</a>
		<a class="testassement" href="#">
			Free Assesment
		</a>
      </div>
    </div> -->
  </div>  
</div>
<!-- <div>
  <p>
    {{self.heading}}
  </p>
</div> -->
<!---- Slider End--->
<div class="border-bottom advistSection">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-3 col-xs-6">
              <!-- Media -->
              <div class="mediaonerow">
                <i class="fa fa-truck fa-flip-horizontal"></i>
                <div class="media-body">
                  <div class="text-uppercase texttitle font-bold">Free Shipping</div>
                  <div class="textsub">In 2-3 Days</div>
                </div>
              </div>
              <!-- End mediaonerow -->
            </div>
			<div class="col-sm-6 col-md-3 col-xs-6">
              <!-- Media -->
              <div class="mediaonerow">
                <i class="fa fa-mobile"></i>
                <div class="media-body rightmody">
                  <div class="text-uppercase texttitle font-bold">Call Us Anytime</div>
                  <div class="textsub">+1(254) 545-2547</div>
                </div>
              </div>
              <!-- End mediaonerow -->
            </div>
			<div class="col-sm-6 col-md-3 col-xs-6">
              <!-- Media -->
              <div class="mediaonerow">
                <i class="fa fa-comments-o"></i>
                <div class="media-body">
                  <div class="text-uppercase texttitle font-bold">Chat With Us</div>
                  <div class="textsub">We offer chat support</div>
                </div>
              </div>
              <!-- End mediaonerow -->
            </div>
			<div class="col-sm-6 col-md-3 col-xs-6">
              <!-- Media -->
              <div class="mediaonerow">
                <i class="fa fa-undo"></i>
                <div class="media-body right-0">
                  <div class="text-uppercase texttitle font-bold">FREE RETURNS</div>
                  <div class="textsub">No Questions Asked</div>
                </div>
              </div>
              <!-- End mediaonerow -->
            </div>
			</div>
        </div>
      </div>
	<!-- advistSection End-->
	<div class="container-fluid container-fluid2">
	<div class="row no-gutters homesleppsection pt-30">
		<div class="col-md-6">
	    <img class='img-responsive' src="{% static 'image/sleep-apnea-blog.jpg' %}" alt="My image">

		</div>
		<div class="col-md-6">
			<div class="txt">
				<h1>Get a better night’s sleep</h1>
				<p>Diagnosis and treatment from the online sleep consultants</p>
				<div class="textclass">Sleep apnea affects an estimated 22 million Americans, with many cases going undiagnosed. If you are experiencing symptoms associated with sleep apnea, a sleep disorder specialist may recommend an overnight study at a lab. </div>
				<div class="textclass">Now, there is a more convenient and affordable alternative. With Affordable Sleep Solutions, you can order a test from your online sleep consultant at the click of a button and conduct your sleep study from the comfort of your home.</div>
				<div class="mt-4">
				   <a class="blackbutton" href="#">What is Affordable Sleep?</a>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- Section End -->
	<div class="container py-50">
		<div class="text-center mx-auto max-width-600">
          <h2 class="mainTitle">Shop CPAP Masks</h2>
          <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
        </div>
			<div class="row pt-30">
          <div class="col-sm-6 col-md-3">
			<div class="productBox">
            <!-- Product -->
            <figure class="g-pos-rel g-mb-20">
              <img class='img-responsive' src="{% static 'product-image/11872.jpg' %}" alt="My image">
			 </figure>

            <div class="media">
              <!-- Product Info -->
              <div class="text-center">
                <h4 class="h5">
                  <a class="u-link-v6" href="#">
					AirFit P10 Mask System
                  </a>
                </h4>
                <a class="prodcut-Cat" href="#">Nasal Masks</a>
				<div class="d-flex justify-content-between p-20">
                <span class="Price">$52.00</span>
					<a class="cardBtn" href="#">
                      Add to Cart
                      <i class="fa fa-shopping-cart"></i>
                    </a>
					</div>
              </div>
              <!-- End Product Info -->

              <!-- Products Icons -->
            
              <!-- End Products Icons -->
            </div>
            </div>
            <!-- End Product -->
          </div>

          <div class="col-sm-6 col-md-3">
		  <div class="productBox">
            <!-- Product -->
            <figure class="g-pos-rel ">
			 <img class='img-responsive' src="{% static 'product-image/12305.png' %}" alt="My image">

			</figure>

            <div class="media">
              <!-- Product Info -->
               <div class="text-center g-width-100vw">
                <h4 class="h5">
                  <a class="u-link-v6" href="#">
					DreamWear Gel Pillows
                  </a>
                </h4>
                <a class="prodcut-Cat" href="#">Nasal Pillow Masks</a>
				<div class="d-flex justify-content-between p-20">
                <span class="Price">$135.00</span>
					<a class="cardBtn" href="#">
                      Add to Cart
                      <i class="fa fa-shopping-cart"></i>
                    </a>
					</div>
              </div>
              <!-- End Product Info -->
			</div>
            </div>
			<!-- End Product -->
          </div>
		 <div class="col-sm-6 col-md-3">
		  	<div class="productBox">
            <!-- Product -->
            <figure class="g-pos-rel ">
			 <img class='img-responsive' src="{% static 'product-image/12563.png' %}" alt="My image">

			</figure>

            <div class="media">
              <!-- Product Info -->
              <div class="text-center ">
                <h4 class="h5">
                  <a class="u-link-v6" href="#">
					AirFit P10 Mask System
                  </a>
                </h4>
                <a class="prodcut-Cat" href="#">Nasal Masks</a>
				<div class="d-flex justify-content-between p-20">
                <span class="Price">$52.00</span>
					<a class="cardBtn" href="#">
                      Add to Cart
                      <i class="fa fa-shopping-cart"></i>
                    </a>
					</div>
              </div>
              <!-- End Product Info -->

              
            </div>
            </div>
            <!-- End Product -->
          </div>

          <div class="col-sm-6 col-md-3">
			<div class="productBox">
            <!-- Product -->
            <figure class="g-pos-rel">
             <img class='img-responsive' src="{% static 'product-image/14926.jpg' %}" alt="My image">
			</figure>

            <div class="media">
              <!-- Product Info -->
               <div class="text-center g-width-100vw">
                <h4 class="h5">
                  <a class="u-link-v6" href="#">
					DreamWear Gel Pillows
                  </a>
                </h4>
                <a class="prodcut-Cat" href="#">Nasal Pillow Masks</a>
				<div class="d-flex justify-content-between p-20">
                <span class="Price">$135.00</span>
					<a class="cardBtn" href="#">
                      Add to Cart
                      <i class="fa fa-shopping-cart"></i>
                    </a>
					</div>
              </div>
              <!-- End Product Info -->

           </div>
            </div>
            <!-- End Product -->
          </div>
		<div class="col-sm-6 col-md-3">	
	  	<div class="productBox">
            <!-- Product -->
            <figure class="g-pos-rel g-mb-20">
             <img class='img-responsive' src="{% static 'product-image/14998.jpg' %}" alt="My image">

			</figure>

            <div class="media">
              <!-- Product Info -->
               <div class="text-center g-width-100vw">
                <h4 class="h5">
                  <a class="u-link-v6" href="#">
					AirFit P10 Mask System
                  </a>
                </h4>
                <a class="prodcut-Cat" href="#">Nasal Masks</a>
				<div class="d-flex justify-content-between p-20">
                <span class="Price">$52.00</span>
					<a class="cardBtn" href="#">
                      Add to Cart
                      <i class="fa fa-shopping-cart"></i>
                    </a>
					</div>
              </div>
              <!-- End Product Info -->

            </div>
            </div>
            <!-- End Product -->
          </div>

          <div class="col-sm-6 col-md-3">
		  	<div class="productBox">
            <!-- Product -->
            <figure class="g-pos-rel g-mb-20">
			 <img class='img-responsive' src="{% static 'product-image/15070.jpg' %}" alt="My image">

			</figure>

            <div class="media">
              <!-- Product Info -->
               <div class="text-center g-width-100vw">
                <h4 class="h5">
                  <a class="u-link-v6" href="#">
					DreamWear Gel Pillows
                  </a>
                </h4>
                <a class="prodcut-Cat" href="#">Nasal Pillow Masks</a>
				<div class="d-flex justify-content-between p-20">
                <span class="Price">$135.00</span>
					<a class="cardBtn" href="#">
                      Add to Cart
                      <i class="fa fa-shopping-cart"></i>
                    </a>
					</div>
              </div>
              <!-- End Product Info -->
            </div>
            </div>
            <!-- End Product -->
          </div>
		  <div class="col-sm-6 col-md-3">
		  	<div class="productBox">
            <!-- Product -->
            <figure class="g-pos-rel g-mb-20">
			  <img class='img-responsive' src="{% static 'product-image/15452.jpg' %}" alt="My image">

			</figure>

            <div class="media">
              <!-- Product Info -->
               <div class="text-center g-width-100vw">
                <h4 class="h5">
                  <a class="u-link-v6" href="#">
					AirFit P10 Mask System
                  </a>
                </h4>
                <a class="prodcut-Cat" href="#">Nasal Masks</a>
				<div class="d-flex justify-content-between p-20">
                <span class="Price">$52.00</span>
					<a class="cardBtn" href="#">
                      Add to Cart
                      <i class="fa fa-shopping-cart"></i>
                    </a>
					</div>
              </div>
              <!-- End Product Info -->
				</div>
            </div>
            <!-- End Product -->
          </div>

          <div class="col-sm-6 col-md-3">
		  	<div class="productBox">
            <!-- Product -->
            <figure class="g-pos-rel g-mb-20">
             <img class='img-responsive' src="{% static 'product-image/HM_p10.jpg' %}" alt="My image">

			</figure>

            <div class="media">
              <!-- Product Info -->
               <div class="text-center g-width-100vw">
                <h4 class="h5">
                  <a class="u-link-v6" href="#">
					DreamWear Gel Pillows
                  </a>
                </h4>
                <a class="prodcut-Cat" href="#">Nasal Pillow Masks</a>
				<div class="d-flex justify-content-between p-20">
                <span class="Price">$135.00</span>
					<a class="cardBtn" href="#">
                      Add to Cart
                      <i class="fa fa-shopping-cart"></i>
                    </a>
					</div>
              </div>
              <!-- End Product Info -->
				</div>
            </div>
            <!-- End Product -->
          </div>
		</div>
		<div class="text-center">
          <a class="u-btn-outline-primary  text-uppercase "" href="#">All View</a>
        </div>
		</div>
		<!-- Product End -->
		<div class="homesleppsection2  light-bg">
		<div class="container-fluid2 container-fluid">
		<div class="row no-gutters ">
		<div class="col-md-6">
			<div class="txt lefttex">
				<h1>Better Health Starts With Better Sleep</h1>
				<p>Sleep Apnea is a deadly condition that causes you to stop breathing at night. Do you know the warning signs?
				</p>
				<ul>
				<li>Snoring</li>
				<li>Trouble Focusing</li>
				<li>High Blood Pressure</li>
				<li>Anxiety/ Depression</li>
				<li>Headaches</li>
				</ul>
				<div class="mt-4">
				   <a class="blackbutton blackbuttonsmall" href="#">Affordable Sleep</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
	    <img class='img-responsive' src="{% static 'image/sleep-apnea-blog2.jpg' %}" alt="My image">

		</div>
	</div>
	</div>
	</div>
	<!-- homesleppsection2 End -->
		<div class="container py-50">
			<div class="max-width-600 mx-auto text-center">
				<div class="mainTitle">Did you know?</div>
				<div class="lead">Over 30,000,000 Americans Suffer From Obstructive Affordable Sleep. Shockingly, 80% Of Cases Will Go Undiagnosed.</div>
				<div class="mt-4">
				   <a class="blackbutton" href="#">Order Test Today!</a>
				</div>
			</div>
		</div>
		<!-- Did you know -->
	<section class="cv-deal g-pos-rel py-80">
	  <div class="container">
	  <div class="text-center mx-auto max-width-600">
          <h2 class="mainTitle text-white mb-2">DOT Compliant</h2>
          <p class="lead text-white">The Affordable Sleep program meets all DOT testing standards.
			We guarantee it! If your Medical Examiner rejects our test,
			we will give you a full refund</p>
        </div>
		
	  </div>
	 </section>
	 <!-- dot compliant End-->
	 <section class="py-50 blogSection">
	  <div class="text-center mx-auto max-width-600">
	 <h2 class="mainTitle">Blog News</h2>
	 <div class="lead">Keep in touch with the latest blogs & news.</div>
   <div class="container">
  
  </div>
  <h4>See the Latest Posts</h4>
  <p class="text-center"><a href="/pages/blog/latest" class="cardBtn">Latest Post</a></p>
	 </div>
	 </section>
	  <!-- dot Blog End--> 
	  <section class="py-50 blogSection">
	 
	 <div class="container">
 <div class="text-center mx-auto max-width-600">
	 <h2 class="mainTitle">Frequently Asked Questions</h2>
	 <p class="lead">Here are the answers to common questions our online sleep consultants receive about our services.</p>
	 </div>
  
  <div class="panel-group mx-auto max-width-800  mt-30" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#faq-1">
          How do I book an appointment?
        </a>
      </h4>
    </div>
    <div id="faq-1" class="panel-collapse collapse">
      <div class="panel-body">
        You can make an appointment right here on our website. Just take the online quiz to inform us of your situation and then schedule your session with an online sleep disorder specialist.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#faq-2">
          How do I take the test?
        </a>
      </h4>
    </div>
    <div id="faq-2" class="panel-collapse collapse">
      <div class="panel-body">
        Take our quiz online by answering a few short questions in the provided form. From there you can make an appointment. We’ll send your at-home sleep test by mail if that is the best approach for you.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#faq-3">
          Do I need to travel?
        </a>
      </h4>
    </div>
    <div id="faq-3" class="panel-collapse collapse">
      <div class="panel-body">
        We do everything online from start to finish, so there is no need to travel to receive our services.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#faq-4">
          What if I need a prescription? 
        </a>
      </h4>
    </div>
    <div id="faq-4" class="panel-collapse collapse">
      <div class="panel-body">
        If you need a prescription, the doctor will send it to you digitally so you can have it filled at your local pharmacy.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#faq-5">
          Can I use insurance? 
        </a>
      </h4>
    </div>
    <div id="faq-5" class="panel-collapse collapse">
      <div class="panel-body">
        Yes. Fill out our insurance form to see if coverage is available to you.
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#faq-6">
         Can I just pay privately?
        </a>
      </h4>
    </div>
    <div id="faq-6" class="panel-collapse collapse">
      <div class="panel-body">
        Yes, we also offer payment through Stripe, FSA, and HAS cards.
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#faq-7">
          What if I need equipment? 
        </a>
      </h4>
    </div>
    <div id="faq-7" class="panel-collapse collapse">
      <div class="panel-body">
        You can buy sleep apnea masks and other equipment online at our store.
      </div>
    </div>
  </div>
</div>
  
  
</div> <!-- end container -->
	 </section>
	  <!-- dot Blog End-->

</div>
<!---- home page End--->
{% endblock content %}