{% extends "oscar/customer/baseaccountpage.html" %}
{% load i18n %}

{% block tabcontent %}
    <p>{% trans "Please confirm your password to delete your profile." %}</p>
    <form id="delete_profile_form" method="post" class="form-horizontal2">
        {% csrf_token %}
        {% include "oscar/partials/form_fields.html" %}
        <div class="alert alert-warning">
            <h3>{% trans "Warning" %}</h3>
            {% blocktrans %}
                This will delete all information about you from the site.  Deleting your profile cannot be
                undone.
            {% endblocktrans %}
        </div>
        <div class="form-group text-right">
            
            <a href="{% url 'customer:profile-view' %}" class="font-bold">{% trans "Cancel" %}</a>
			<button class="btn btn-danger ml-20" type="submit" data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button>
        </div>
    </form>
{% endblock tabcontent %}
