{% extends "oscar/customer/baseaccountpage.html" %}

{% load i18n %}

{% block tabcontent %}
    <table class="table table-striped table-bordered profileData">
        <tbody>
            <tr>
                <th>{% trans 'Name' %}</th>
                <td>{{ user.get_full_name|default:'-' }}</td>
            </tr>
            <tr>
                <th>{% trans 'Email address' %}</th>
                <td>{{ user.email }}</td>
            </tr>
            {% block profile_fields %}
                {% for field in profile_fields %}
                    <tr>
                        <th>{{ field.name }}</th>
                        <td>{{ field.value|default:"-" }}</td>
                    </tr>
                {% endfor %}
            {% endblock %}
            <tr>
                <th>{% trans 'Date registered' %}</th>
                <td>{{ user.date_joined }}</td>
            </tr>
        </tbody>
    </table>
<div class="actionsbtn text-right">
    <a href="{% url 'customer:change-password' %}" class="btn btn-link font-bold">{% trans 'Change password' %}</a>
    <a id="delete_profile" href="{% url 'customer:profile-delete' %}" class="btn btn-link-danger font-bold">{% trans 'Delete profile' %}</a>
	<a href="{% url 'customer:profile-update' %}" class="btn btn-primary font-bold ml-20">{% trans 'Edit profile' %}</a>
</div>

{% endblock %}
