@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');
body{font-family: 'Lato', sans-serif;background-color:#f7f7f7;}
 .navbar-static-top.accounts{background: #0b9909;min-height:40px;margin-bottom:0px;}
 .navbar-static-top.accounts .navbar-nav.navbar-right a{color:#fff; padding: 10px 0px;margin-left:15px;}
 .navbar-static-top.accounts .navbar-nav.navbar-right a:hover,
  .navbar-static-top.accounts .navbar-nav.navbar-right a:focus{background: transparent;}
  .basket-mini{margin-top:15px;}
  .no-padding{padding:0px !important;}
  /*Help Css add*/
  .pt-30{padding-top:30px;} 
  .mb-50{margin-bottom:50px;}
  .mt-50{margin-top:50px !important;} 
  .mt-30{margin-top:30px !important;} 
  .mr-20{margin-right:20px;}
  .ml-20{margin-left:20px;}
  .py-50{padding-top:50px; padding-bottom:50px;}
/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/
/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 560px;
}
.fade-carousel .carousel-inner .item {
    height: 560px;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px 20px;
    background-color: #fff;
    border-color: #fff;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
   background-color: #0b9909;
    border-color: #0b9909;
  
}
/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
     text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 2.5em;    
    font-weight: 600;
    margin: 0 0 10px;
    padding: 0;
}
.hero h3{line-height: 27px; font-weight: 400;margin-bottom:30px;}
.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}
/********************************/
/*            Overlay           */
/********************************/
.fade-carousel .carousel-inner .item:after {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .2;
    content:'';
    top:0px;
    left:0px;
}
/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}
/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3, 
.fade-carousel .slides .slide-4 {
  height: 560px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../image/slide1.jpg); 
}
.fade-carousel .slides .slide-2 {
 background-image: url(../image/slide2.jpg); 
}
.fade-carousel .slides .slide-3 {
  background-image: url(../image/slide3.jpg); 
}
.fade-carousel .slides .slide-4 {
  background-image: url(../image/slide4.jpg); 
}
.carousel-indicators{margin-left:0px;}
.border         { border: 1px solid #dee2e6!important; }
.border-top     { border-top: 1px solid #dee2e6!important; }
.border-right   { border-right: 1px solid #dee2e6!important; }
.border-bottom  { border-bottom: 1px solid #dee2e6!important; }
.border-left    { border-left: 1px solid #dee2e6!important; }
.border-0        { border: 0 !important; }
.border-top-0    { border-top: 0 !important; }
.border-right-0  { border-right: 0 !important; }
.border-bottom-0 { border-bottom: 0 !important; }
.border-left-0   { border-left: 0 !important; }
.advistSection{padding: 0px 0px 20px; margin-bottom: 20px;}
.mediaonerow{display:flex; display:-ms-flex; align-items:center;-ms-align-items:center;}
.mediaonerow .media-body:after{content:'';border-right:1px solid #dee2e6;position: absolute; right: 30px;
    height: 40px; top: 0px;}
.mediaonerow .media-body.right-0:after{display:none;}
.mediaonerow i.fa {color:#0b9909 ; font-size:40px; margin-right:15px;}
.font-bold{font-weight:600;}
.txt h1 {font-size: 30px;font-weight: 800;margin: 0 0 18px;width: 100%;}
.txt  p {font-size: 18px;color: #000000; margin: 0;}
.txt ul{padding:0px; margin:40px 0 0px;}
.txt li {position: relative;padding: 0 0 0 17px; font-size: 16px;margin: 0 0 6px; list-style:none;}
.txt li:before{content: "\f105"; font-family:'FontAwesome'; position:absolute; left:0px;}
.no-gutters{margin-left:0px; margin-right:0px;}
.no-gutters>.col, .no-gutters>[class*=col-] {padding-right: 0; padding-left: 0;}
.blackbutton {font-size: 16px;color: #eee !important;font-weight: 600; background: #000000;line-height: 100%;text-align: center;text-transform: capitalize;margin-right: 17px;padding: 20px 32px; position: relative;overflow: hidden;
    border-radius: 50px;margin-top: 5px;display:inline-block; text-decoration:none;}
    {% comment %} this is addded {% endcomment %}
	.blackbutton:hover{text-decoration:none;}
.blackbutton.blackbuttonsmall{font-size:14px; padding:13px 25px;}
.mt-4{margin-top:20px;}
.homesleppsection{margin:0px 0px}
.productBox, .product_pod {
    border: 1px solid #f7f7f7;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(236, 234, 234, 0.4);
    margin-bottom:30px;
}
.productBox .g-pos-rel {
    height: 200px;
    line-height: 200px;
    text-align: center;
    padding: 10px;
}
.productBox .g-pos-rel img {
    max-width: inherit;
    max-height: 100%;
    display: inline-block;
}
.boxSections{}
.testfree, .testassement{text-shadow: none; border-radius: 30px; color: #fff; border: 1px solid #fff;
    padding: 10px 25px;  font-size: 16px; transition:.2s all ease-in-out;}
.testfree{margin-right:20px;}
{% comment %} this is addded {% endcomment %}
	.testfree:hover, .testassement:hover{background:#fff;color:#333;text-decoration:none; border: 1px solid #fff;transition:.2s all ease-in-out;}
.testassement{background:#0b9909;border-color:#0b9909;}
.mx-auto{margin:auto;} 
.max-width-600{max-width:600px;}
.max-width-800{max-width:800px;} 
.mainTitle{margin-bottom:5px; font-weight:900; font-size:30px;}
{% comment %} this is addded {% endcomment %}
.lead{font-size:16px;font-weight:400;}
.g-color-gray-dark-v5 {
    color: #999 !important;
}
.g-font-size-13 {
    font-size: 0.92857rem !important;
}
.d-inline-block {
    display: inline-block!important;
}
.g-color-black {
    color: #000 !important;
}
.g-font-size-17 {
    font-size: 1.21429rem !important;
}
.d-block {
    display: block!important;
}
.u-btn-primary {
    color: #fff;
    background-color: #0b9909;
}
.g-font-size-14 {
    font-size: 1rem !important;
}
.g-rounded-50 {
    border-radius: 50px !important;
}
a:hover{text-decoration:none !important;}
.u-link-v6{font-size:16px; font-weight:600; color:#545454; transition:.2s all ease-in-out;}
.u-link-v6:hover{text-decoration:none;color:#0b9909; transition:.2s all ease-in-out;}
.prodcut-Cat{display:block;font-size:14px;color:#999;}
.d-flex{display:flex; display:-ms-flex; display:-webkit-flex;}
.justify-content-between{justify-content:space-between;-ms-justify-content:space-between;-webkit-justify-content:space-between;}
.Price{font-weight:900;font-size:20px;}
.cardBtn{background: #0b9909;color: #fff; padding: 6px 15px;border-radius: 30px; font-size: 12px; transition:.2s all ease-in-out;border:1px solid transparent;display: inline-block;}
.cardBtn:hover, .cardBtn:focus {background:#fff;color:#0b9909; transition:.2s all ease-in-out;border:1px solid #0b9909;}
.btn-primary, .btn-lg.btn-primary{background: #0b9909;color: #fff; padding: 6px 25px 8px;border-radius: 30px; font-size: 16px; transition:.2s all ease-in-out;border:1px solid transparent;display: inline-block;    min-width: 120px;}
.btn-primary:hover, .btn-primary:focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover {background:#fff !important;color:#0b9909 !important; transition:.2s all ease-in-out;border:1px solid #0b9909;outline:none !important;} 

.u-btn-outline-primary{border:1px solid #0b9909;color:#0b9909;    padding: 8px 25px;
    border-radius: 30px; font-size: 14px; font-weight: 600;display: inline-block;
    line-height: 25px; box-sizing: border-box; transition:.2s all ease-in-out;}
    {% comment %} this is addded {% endcomment %}
	.u-btn-outline-primary:hover{background:#0b9909;color:#fff; transition:.2s all ease-in-out;}
	.px-20{padding:0px 20px;}
.p-20{padding:20px;}
.lefttex.txt{padding: 40px 30px 20px 0;}
.lefttex.txt ul{margin: 20px 0px 0px 0;}
.lefttex.txt li{padding-left:25px;}
.lefttex.txt li:before {content: "\f046";}
.light-bg{background:#f7f7f7;}
.cv-deal {
    background: linear-gradient(50deg, rgba(11, 153, 9, 0.69), rgba(11, 153, 9, 0.60)),url(../image/hot-deal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.py-80{padding-top:80px; padding-bottom:80px;}
.text-white{color:#fff;}
.cv-deal .mainTitle{font-size:40px;}
{% comment %} this is addded {% endcomment %}
.cv-deal .lead{font-size:24px;font-weight:400;}
.panel-default > .panel-heading, .panel-default {background:#f7f7f7; border:none;}
.panel-default > .panel-heading + .panel-collapse > .panel-body{border:none; padding-top:0px;color:#545454; font-size:16px;}
.panel-group .panel{margin-bottom:12px;}
.accordion-toggle{text-decoration:none;display:block;position:relative;}
.accordion-toggle:before {content: "\f107";font-family: 'FontAwesome';position: absolute;right: 0px;font-size:20px;transition:.2s all ease-in-out;     top: -4px;}
.accordion-toggle[aria-expanded="true"]:before {    transform: rotate(180deg);transition:.2s all ease-in-out;}
.accordion-toggle:focus{text-decoration:none;}
{% comment %} this is addded {% endcomment %}
footer{}
.g-pt-50{padding-top:50px;}
.g-bg-main-light-v1 {
    background-color: #262729;
}
.g-color-gray-dark-v5 {
    color: #999 !important;
}
.u-link-v5 {
    text-decoration: none;
    transition: all .2s;
}
.u-shadow-v19 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.1);
}
.rounded {
    border-radius: .25rem!important;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.g-color-gray-light-v3 {
    color: #ddd !important;
}
footer  h2.h5{font-size:16px;}
footer  ul.list-unstyled li{margin-bottom:10px;}
footer  ul.list-unstyled li a{font-size:14px;color:#999;}
footer  ul.list-unstyled li a:hover{font-size:14px;color:#0b9909;}
footer  .media-body{font-size:15px;}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.subcribefooter{background-color:#2b2d30;padding:5px; border-radius:4px; }
.subcribefooter .form-control{background-color:#2b2d30;padding:0px 10px; border-radius:4px;border:none; }
.subcribefooter .form-control:focus{border:none; box-shadow:none;}
.iconSocial{width: 35px; height: 35px; background-color: #2b2d30; border-radius: 4px;
    display: inline-block; color: #999; font-size: 20px;text-align: center;display: flex; align-items: center;justify-content: center;display: -ms-flex;display: -webkit-flex;-webkit-align-items: center;-ms-align-itmes: center;
    -webkit-justify-content: center; -ms-justify-content: center;transition:.2s all ease-in-out;}
.iconSocial:hover{background:#0b9909;color:#fff; transition:.2s all ease-in-out;}
.copyright{background:#1f2123;    padding: 12px 0;}	
.copyright p{margin-bottom:0px;margin-top:5px; font-size:13px; color:#999;}
.paycard-cions i{font-size:25px;color: #999;}
.paycard-cions{margin-bottom:0px;}
.paycard-cions li{display:inline-block; margin-left:5px;}
.navbar-inverse  .navbar-nav > li > a{padding:15px 0px;}
.navbar-inverse  .navbar-nav > li > a:hover{color: #fff;}
.navbar-inverse .navbar-nav > .active > a{color: #fff;background:transparent;}
.navbar-inverse  .navbar-nav > li > a::after {
    position: absolute;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 0;
    content: "";
    height: 2px;
    margin: 0 auto;
    background: #0b9909;
}
.navbar-inverse  .navbar-nav > li:hover > a::after, .navbar-inverse  .navbar-nav > li.active > a::after{width:100%;transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;}
.navbar-form{}
.navbar-form .form-group.Searchheader{background:#e7e7e7; padding:5px; border-radius:5px;display:flex;}
.Searchheader .form-control{border:none;box-shadow:none; background:transparent;font-size:16px;width:calc(100% - 40px);height:34px;}
.Seacrhicon{font-size: 20px;border: none;background: transparent;color: #545454;font-weight: 300;height: 34px;}
.Seacrhicon:focus{border:none;outline:none;}
.blog_listpage .media{padding:10px; margin:0px;}
.blog_listpage .productBox .g-pos-rel{padding:2px;}
.blog_listpage .productBox .prodcut-Cat{margin-bottom:10px;}
.blog_listpage .productBox .g-pos-rel img{max-height:inherit; max-width:100%;}
.blogfull-description h2{font-size: 30px; font-weight: 800; margin: 0 0 18px; width: 100%;}
.blogfull-description p{font-size: 18px; color: #000000; margin: 0;}
.well2{padding:0px 20px; margin-bottom:20px;}
.form-control{background: #f7f7f7;height: 42px;box-shadow: none;border-color: #eaeaea;}
.page_inner.no-padding > .breadcrumb{display:none;}
.header{background:#fff;}
.rich-text p{font-size:16px;}
.productBox h2 a{color:#545454; font-size:16px; font-weight:600;}
.datacontent{padding:10px; text-align: center; font-size: 13px;color: #8a8a8a;}
.datacontent h2{margin-bottom: 5px;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .nav-pills > li > a:hover {
    font-weight: 600;
    color: #2874f0;
    background-color: #f5faff;
}
.nav-pills > li > a:hover{font-weight:600;}
.nav-pills > li > a {border-radius: 4px; color: #545454; font-weight: 600;}
.page-header h1, .page-header h2{font-weight:800; font-size:18px;}
.sidebar h4 {font-weight:600; font-size:14px; padding-bottom:10px; border-bottom:1px solid #e8e8e8; text-transform:uppercase;}
.page-header{border:none;}
.sidebar + div {border-left:1px solid #e8e8e8;}
table.profileData{border:none; width:auto;}
table.profileData tr{background:transparent !important; }
table.profileData tr th{background:transparent; border:none;padding: 15px 30px 15px 0px;
    font-size: 16px; color: #545454;}
table.profileData tr td{background:transparent;border:none; padding: 15px 30px;
    font-size: 16px; color: #8a8a8a;}
.btn-link-danger{color:red;}
.actionsbtn{margin-top:40px;}
table.profileData{margin-top:-20px;}
.btn-link, .btn-link-danger{font-size:16px;}
.product_pod{height:340px;}
.product_pod h3{margin:0px 0px 15px;} 
.side_categories, .review_add, .review_all, .review_read, .well{background:transparent; border:none; box-shadow:none;padding:0px; }
.side_categories li a{color:#545454; border-radius:4px; font-weight:600;}
.side_categories li a:hover{font-weight: 600;color: #2874f0; background-color: #f5faff;}
.product_price .price_color, .product_price .availability{width:50%; float:left;}
.product_price .availability{margin-top:4px;}
.product_price .price_color, .product_main .price_color{font-weight: 900; font-size: 20px; color:#545454}
.product_pod .product_price{bottom:15px;}
.product_pod form{padding:0px 15px;}
.image_container{min-height:145px;}
.product_main{padding-top:40px;}
.product_main h1{font-size:30px; font-weight:800;color:#333;}
.product_main .availability.instock{color:#999;}
#write_review.btn{background: transparent; border: none; color: #0b9909; font-size: 14px; text-decoration: underline;}
.btn-lg.btn{ padding:10px 25px; border-radius:30px; font-size:16px;}
.btn-add-to-basket, .add-to-basket{width:auto;}
.sub-header h2, .sub-header h3, .sub-header h4, legend{font-size: 16px; line-height: normal;color: #333333;  font-weight: 600;text-transform: uppercase;padding:20px 0 10px; }
.detailstable{width:auto;}
.detailstable.table-striped > tbody > tr:nth-of-type(odd){background:#fff;}
.detailstable.table-striped td, .detailstable.table-striped th{border:none;padding:10px 15px;}
.detailstable.table-striped th{padding-left:0px;}
.detailstable.table-striped td{color:#878787;}
.page-header.action h1{font-size:30px; text-align:center; margin-top:20px;}
.sidebar + .col-sm-8.col-md-9 .page-header.action h1{font-size:18px; text-align:left;}
.basket-title{padding-bottom:10px;border-bottom:1px solid #f5f5f5}
.basket-title .h3{font-size:16px; color:#545454;font-weight:600;}
.basket-items {background: #fdfdfd !important; margin-bottom: 0px; border: 1px solid #f5f5f5;border-top: transparent;}
  .basket-items .thumbnail{min-height: 90px;margin-bottom:0px;}
  .basket-items h3{margin-bottom:5px;}
.basket-items h3 a{color:#333; font-size:20px; font-weight:600;}
.basket-items{}
.basket-items .availability.instock{color:#999; margin-bottom:0px;}
.checkout-quantity .input-group input[type="number"][id*="quantity"]{height:34px;}
.basket-items .price_color{color:#545454;}
.basket-items > .row{display:flex; display:-ms-flex; align-items:center; -ms-align-items:center;}
.sub-header{padding-bottom:0px;}
#basket_totals{padding:20px 30px; background:#f7f7f7; margin-bottom:20px;}
#basket_totals h3{font-size:22px; font-weight:800;}
#basket_totals .total h3{font-size:18px;} 
#basket_totals .table.table-condensed  tr th{border:none;color:#333;font-weight:600; border-bottom:1px solid #ddd; font-size:17px; padding:15px 0px;}
#basket_totals .table.table-condensed  tr td{border-bottom:1px solid #ddd; padding:15px 0px;}
#basket_totals .table.table-condensed  tr th:first-child{font-weight:400;}
#basket_totals .table.table-condensed  .total{background:transparent !important;}
.mb-40{margin-bottom:40px;}
.my-40{margin-bottom:40px; margin-top:40px;}
.template-blogpage .page-header.action{display:none;}
.page .page_inner{padding-bottom:40px !important;}
.semi-bold{font-weight:600;}
.subHeading{font-weight:600;font-size:18px;color:#545454; margin:20px 0px 0px;}
.subHeading + p{display:none;}
.nav-checkout.navbar{margin-top:30px;}
.nav-checkout.navbar .nav{display:inline-block;}
.nav-checkout.navbar .nav li{display: inline-block; border-radius: 60px; padding: 15px 25px 15px 0px;
    font-size: 16px;}
.nav-checkout.navbar .nav li .navbar-text{margin:0px;float:none;}
.nav-checkout.navbar .nav li  span i{margin-right:5px;}
.nav-checkout.navbar .nav li::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	outline: 1px solid transparent;
	border-radius: 10px 10px 0 0;
	background: #dedede;
	box-shadow: inset 0 -3px 3px rgba(0,0,0,0.05);
	content: '';
	-webkit-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.nav-checkout.navbar .nav li.active::after{background:#0b9909;}
.nav-checkout.navbar .nav li.active .navbar-text{color:#fff;}
.accordion-toggle{font-weight:600; font-size:16px; }
.textclass{ font-size: 15px; max-width: 540px; margin-top: 15px;}
/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; } 
    .navbar-inverse .navbar-nav > li {margin-right:70px;}
    .navbar-inverse  .navbar-nav > li:last-child {margin-right:0px;}
    .header{padding-top: 35px;}
	.sidebar + .col-sm-8.col-md-9{padding:0px 40px;}
	.nav-checkout.navbar .nav li{min-width:200px;}
	.container-fluid2{max-width:1440px; padding:0px;}
}
@media (min-width: 768px){
.header .page_inner { padding: 0px 0 20px;}
.txt{margin-left:50px;}
.txt.lefttex{max-width: 570px;float: right;margin-left:0px;padding-right:30px;}
.homesleppsection2{display:flex;display:-webkit-flex;display:-ms-flex;}
 .navbar-collapse .navbar-nav > li > a{font-size:15px; color:#fff;}
}

@media (max-width:767px){
	.account-collapse.collapse{display:block;padding:0px;}
	.account-collapse.collapse .navbar-nav.navbar-right{display:flex; display:-ms-flex; margin:0px;justify-content: center;-ms-justify-content: center;}
	.navbar-static-top.accounts{min-height:35px;}
	.navbar-static-top.accounts .navbar-header{display:none;}
	.header .page_inner.container-fluid{padding:15px 15px 15px;}
	.col-sm-7.h1 {text-align:center}
	.col-sm-7.h1 a img{max-width:200px;display:inline-block;}
	form.navbar-form{display:none;}
	.hero {
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 3;
    color: #fff;
    text-align: center;
     text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-5%,-50%,0);
         -moz-transform: translate3d(-5%,-50%,0);
          -ms-transform: translate3d(-5%,-50%,0);
           -o-transform: translate3d(-5%,-50%,0);
              transform: translate3d(-5%,-50%,0);
}
.mediaonerow{    margin-bottom: 23px;}
.mediaonerow i.fa{font-size:30px;}
.mediaonerow .media-body:after{right:12px;}
.mediaonerow .media-body.rightmody:after{display:none;}
.advistSection{margin-bottom:0px;}
.homesleppsection.pt-30{padding-top:0px;}
.txt, .lefttex.txt{padding:25px 20px 0px;}
.lefttex.txt{padding-bottom:30px;}
.txt .blackbutton, .blackbutton{padding:13px 32px;margin-right:0px;}
.txt .mt-4{text-align:center}
.paycard-cions { margin-bottom: 0px; padding: 0px; text-align: center;  margin-top: 20px;}
.mainTitle, .txt h1, .cv-deal .mainTitle{font-size:24px;}
.cv-deal .lead{font-size:16px;}
.navbar-static-top.accounts .navbar-nav.navbar-right a{margin-left:15px;}
.navbar-static-top.accounts .navbar-nav.navbar-right li:first-child a{margin-left:0px;}
.testfree, .testassement{padding: 7px 15px; font-size: 13px;}
.cv-deal{background-position:left center;}
.product_main{padding-top:0px;}
#product_gallery .carousel-inner > .item{line-height:normal; height:auto; max-height:400px;}
#product_gallery{margin:20px 0px;}
.basket-items > .row{display:block;}
.min-height100{min-height:100px;}
.basket-items .thumbnail{min-height:auto;}
.basket-items > .row{margin-left:-5px; margin-right:-5px;}
.basket-items > .row > div{padding-left:5px; padding-right:5px;}
.checkout-quantity .input-group .input-group-btn{min-width:auto;}
.navbar-inverse .navbar-nav{margin:0px;}
.navbar-inverse .navbar-nav > li > a{padding:10px 0}
.navbar-inverse .navbar-nav > li > a::after{bottom:0px;}
.nav-checkout.navbar .nav li{padding:10px 12px;background:#dedede;margin-bottom: 10px;
    margin-right: 2px;}
.nav-checkout.navbar .nav li.active{background:#0b9909;}
.nav-checkout.navbar .nav li::after{display:none;}
}
