{% extends 'layout.html' %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="mainTitle text-center">{{ self.title }}</h1>
                     <div class="lead">{{ self.heading }}
                    <h4 class="subHeading">{{self.sub_heading}}</h4>
                    <p>{{self.text|richtext}}</p>
                    </div> 

                </div>
            </div>
        </div>
   
 {% comment %} {% for block in page.content %}
    {% include_block block %}
{% endfor %}  {% endcomment %}
{% endblock content %}