{% load wagtailimages_tags wagtailcore_tags %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for i in self.carousel_images.all %}
        {% image i.carousel_image fill-1200x400 as img%}
      <div class="carousel-item active">
          <img src="{{img.url}}" class="d-block w-100" alt="{{img.alt}}">
      </div>
      {% endfor %}
    </div>
  </div>