{% extends 'dashboard/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="jumborton">
        
        
        <!-- <form action="" method="POST">
            {% csrf_token%}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary">Search</button>
        </form> -->
        <div class="product-list">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Category</th>
                        <th scope="col">Name</th>
                        <th scope="col">Serial No</th>
                        <th scope="col">Model No</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for pdt in products %}
                    <tr>
                        <th scope="row">{{pdt.id}}</th>
                        <td>{{pdt.category}}</td>
                        <td>{{pdt.name}}</td>
                        <td>{{pdt.serial_no}}</td>
                        <!-- <td><a href="{% url 'detail_product' pdt.pk%}">{{pdt.quantity}}</a></td> -->
                        <td>{{pdt.model_no}}</td>
                        <td>{{pdt.status}}</td>
                        {% if pdt.status == 'Available'%}
                        <td><a href="{% url 'update_product' pdt.pk %}" class="btn btn-sm btn-warning">Edit</a></td>
                        <td><a href="{% url 'delete_product' pdt.pk %}" class="btn btn-sm btn-danger">X</a></td>
                        <td><a href="{% url 'rent_item' pdt.pk %}" class="btn btn-sm btn-success">Rent</a></td>
                        {% else %}
                        
                        <td><a href="{% url 'view_rented_item' pdt.pk%}" class="btn btn-sm btn-success">View</a></td>
                        <td><a href="{% url 'receive_item' pdt.pk%}"><div class="btn btn-success">ReceiveIn</div></a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

</div>

{% endblock content %}