{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <form action=""method="POST">
            {% csrf_token%}
            <h3>Are you sure want to delete the item {{pdt.name}}</h3>
            <input type="submit" value="Yes" class="btn btn-danger btn-sm" id="">
            <a href="{% url 'product_list'%}"><div class="btn btn-primary">Cancel</div></a>
        </form>
    </div>
</div>

{% endblock content %}