{% extends "layout.html" %}

{% block content %}

<div class="container">
    {% comment %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endcomment %}
    <div class="jumborton">
       <a href="#issue"><div class="btn btn-danger">ISSUE THIS ITEM</div></a>
       <a href="#receiving"><div class="btn btn-info">RECEIVE THIS ITEM</div></a>
        <div class="product-list">
            <table class="table">
                <thead>
                    <tr>
                        <!-- <th scope="col">#</th> -->
                        <!-- <th scope="col">Category</th> -->
                        <th scope="col">Name</th>
                        <th scope="col">Model No</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Stautus</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for pdt in queryset %}
                    <tr>
                        <!-- <th scope="row">{{pdt.id}}</th> -->
                        <!-- <td>{{pdt.category}}</td> -->
                        <td>{{pdt.name}}</td>
                        <td>{{pdt.model_no}}</td>
                        <td>{{pdt.quantity}}</td>
                        <td>{{pdt.status}}</td>
                        {% comment %} <td><a href="{% url 'delete_product' pdt.pk%}" class="btn btn-sm btn-danger">X</a></td> {% endcomment %}
                    </tr>
                    {% endfor %}
                    <a href="{% url 'product_list' %}" class="btn btn-sm btn-warning">Return</a>
                    
                </tbody>
            </table>

        </div>

    </div>

</div>

{% endblock content %}