{% extends 'dashboard/layout.html' %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container">
    <div class="jumbotron">
        <form action="" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </form>

    </div>

</div>

{% endblock content %}