{% load i18n %}
      <!-- Footer -->
      <footer class="g-bg-main-light-v1 g-pt-50">
        <!-- Content -->
        <div class="g-brd-bottom g-brd-secondary-light-v1">
          <div class="container g-pt-100">
            <div class="row justify-content-start g-mb-30 g-mb-0--md">
              <div class="col-md-5 g-mb-30">
                <h2 class="h5 g-color-gray-light-v3 mb-4">Products</h2>

                <div class="row">
                  <div class="col-xs-4 g-mb-20">
                    <!-- Links -->
                    <ul class="list-unstyled g-font-size-13 mb-0">
                      <li class="g-mb-10">
                        <a class="u-link-v5" href="#">SmartPhone</a>
                      </li>
                      <li class="g-my-10">
                        <a class="u-link-v5" href="#">Laptop</a>
                      </li>
                      <li class="g-my-10">
                        <a class="u-link-v5" href="#">Mouse</a>
                      </li>
                      <li class="g-my-10">
                        <a class="u-link-v5" href="#">Monitor</a>
                      </li>
                      <li class="g-my-10">
                        <a class="u-link-v5" href="#">Watch</a>
                      </li>
                    </ul>
                    <!-- End Links -->
                  </div>

                  <div class="col-xs-4 g-mb-20">
                    <!-- Links -->
                    <ul class="list-unstyled g-font-size-13 mb-0">
                      <li class="g-mb-10">
                        <a class="u-link-v5" href="#">Tablet</a>
                      </li>
                      <li class="g-my-10">
                        <a class="u-link-v5" href="#">Accessorie</a>
                      </li>
                      <li class="g-my-10">
                        <a class="u-link-v5" href="#">Mouses Pad</a>
                      </li>
                      <li class="g-my-10">
                        <a class="u-link-v5" href="#">Handset</a>
                      </li>
                      <li class="g-my-10">
                        <a class="u-link-v5" href="#">Phablet</a>
                      </li>
                    </ul>
                    <!-- End Links -->
                  </div>

                  <div class="col-xs-4 g-mb-20">
                    <!-- Links -->
                    <ul class="list-unstyled g-font-size-13 mb-0">
                      <li class="g-mb-10">
                        <a class="u-link-v5" href="#">Speakers</a>
                      </li>
                      <li class="g-my-10">
                        <a class="u-link-v5" href="#">Camera</a>
                      </li>
                      <li class="g-my-10">
                        <a class="u-link-v5" href="#">Play Station</a>
                      </li>
                      <li class="g-my-10">
                        <a class="u-link-v5" href="#">Xbox</a>
                      </li>
                    </ul>
                    <!-- End Links -->
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-3 g-mb-30 g-mb-0--sm">
                <h2 class="h5 g-color-gray-light-v3 mb-4">Brands</h2>

                <div class="row">
                  <div class="col-xs-6 g-mb-20">
                    <!-- Links -->
                    <ul class="list-unstyled g-font-size-13 mb-0">
                      <li class="g-mb-10">
                        <a class="u-link-v5" href="#">Logitech</a>
                      </li>
                      <li class="g-my-10">
                        <a class="u-link-v5" href="#">Samsung</a>
                      </li>
                      <li class="g-my-10">
                        <a class="u-link-v5" href="#">Microsoft</a>
                      </li>
                      <li class="g-my-10">
                        <a class="u-link-v5" href="#">Apple</a>
                      </li>
                    </ul>
                    <!-- End Links -->
                  </div>

                  <div class="col-xs-6 g-mb-20">
                    <!-- Links -->
                    <ul class="list-unstyled g-font-size-13 mb-0">
                      <li class="g-mb-10">
                        <a class="u-link-v5" href="#">Huawei</a>
                      </li>
                      <li class="g-my-10">
                        <a class="u-link-v5" href="#">Motorola</a>
                      </li>
                      <li class="g-my-10">
                        <a class="u-link-v5" href="#">Sony</a>
                      </li>
                      <li class="g-my-10">
                        <a class="u-link-v5" href="#">Nokia</a>
                      </li>
                    </ul>
                    <!-- End Links -->
                  </div>
                </div>
              </div>

              <div class="col-sm-5 col-md-3 ml-auto g-mb-30 g-mb-0--sm">
                <h2 class="h5 g-color-gray-light-v3 mb-4">Contacts</h2>

                <!-- Links -->
                <ul class="list-unstyled g-color-gray-dark-v5 g-font-size-13">
                  <li class="media my-3">
                    <i class="d-flex mt-1 mr-3 icon-hotel-restaurant-235 u-line-icon-pro"></i>
                    <div class="media-body">
                      Unit 25 Suite 3, 925 Prospect
                      <br>
                      PI New York Avenue
                    </div>
                  </li>
                  <li class="media my-3">
                    <i class="d-flex mt-1 mr-3 icon-communication-062 u-line-icon-pro"></i>
                    <div class="media-body">
                      affordable@support.com
                    </div>
                  </li>
                  <li class="media my-3">
                    <i class="d-flex mt-1 mr-3 icon-communication-033 u-line-icon-pro"></i>
                    <div class="media-body">
                      +32 333 444 555
                    </div>
                  </li>
                </ul>
                <!-- End Links -->
              </div>
            </div>

            <!-- Secondary Content -->
            <div class="row">
              <div class="col-md-4 g-mb-50">
                <h2 class="h5 g-color-gray-light-v3 mb-4">Subscribe</h2>

                <!-- Subscribe Form -->
                <form class="subcribefooter d-flex">
                  <input class="form-control" type="email" placeholder="Enter your email">
                  <span class="">
                    <button class="btn u-btn-primary">
                      <i class="fa fa-angle-right"></i>
                    </button>
                  </span>
                </form>
                <!-- End Subscribe Form -->
              </div>

                <div class="col-md-3 col-md-3 col-md-offset-5">
                <h2 class="h5 g-color-gray-light-v3 mb-4">Follow Us On:</h2>

                <!-- Social Icons -->
                <ul class="list-inline mb-50">
                  <li class="list-inline-item g-mr-2">
                    <a class="iconSocial" href="javascript:void(0);">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item g-mx-2">
                    <a class="iconSocial" href="javascript:void(0);">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item g-mx-2">
                    <a class="iconSocial" href="javascript:void(0);">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li class="list-inline-item g-mx-2">
                    <a class="iconSocial" href="javascript:void(0);">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                  <li class="list-inline-item g-mx-2">
                    <a class="iconSocial" href="javascript:void(0);">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Social Icons -->
              </div>
            </div>
            <!-- End Secondary Content -->
          </div>
        </div>
        <!-- End Content -->
 </footer>
 <footer class="copyright">
        <!-- Copyright -->
        <div class="container g-pt-30 g-pb-10">
          <div class="row">
            <div class="col-md-6 g-mb-20">
              <p class="">Copyrights © 2020 affordable.com - All Rights Reserved</p>
            </div>

            <div class="col-md-6 text-right g-mb-20">
              <ul class="paycard-cions">
                <li class="list-inline-item g-cursor-pointer mr-1">
                  <i class="fa fa-cc-visa"></i>
                </li>
                <li class="list-inline-item g-cursor-pointer mx-1">
                  <i class="fa fa-cc-paypal" ></i>
                </li>
                <li class="list-inline-item g-cursor-pointer mx-1">
                  <i class="fa fa-cc-mastercard"></i>
                </li>
                <li class="list-inline-item g-cursor-pointer ml-1">
                  <i class="fa fa-cc-stripe"></i>
                </li>
                <li class="list-inline-item g-cursor-pointer ml-1">
                  <i class="fa fa-cc-discover"></i>
                </li>
                <li class="list-inline-item g-cursor-pointer ml-1">
                  <i class="fa fa-cc-jcb"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- End Copyright -->
      </footer>
      <!-- End Footer -->