{% load i18n %}
<form method="get" action="{% url 'search:search' %}" class="navbar-form">
    <div class="form-group Searchheader">
        {{ search_form.q }}
     <button type="submit" value="" class="Seacrhicon"><i class="fa fa-search"></i></button>
    </div>
   
</form>
