{% load wagtailimages-tags%}

<div class="container">
    <h2 class="text-center">{{self.title}}</h2>
    <div class="card-block">
        {% for card in self.cards %}
        {% image card.image fill-300x200 as img %}
        <div class="card">
            <img src="" alt="" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">..</h5>
                <p class="card-text">..</p>
                <a href="" class="btn btn-primary"></a>
                something here

            </div>

        </div>
        {% endfor %}

    </div>

</div>